<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jplus.mapper.StatisticsMapper">

    <select id="getCountSort" parameterType="java.lang.String" resultType="org.jplus.pojo.UserDO">
        SELECT u.name, school, vendor FROM user u INNER JOIN answer a ON u.id=a.id
        WHERE type=#{type}
        GROUP BY a.id
        ORDER BY COUNT(a.id) desc LIMIT 10;
    </select>

    <select id="getCorrectRateSort" parameterType="java.lang.String" resultType="org.jplus.pojo.UserDO">
        SELECT u.name, school, vendor FROM user u INNER JOIN answer a ON u.id=a.id
         WHERE type=#{type}
         GROUP BY a.id
         ORDER BY (COUNT(right_or_wrong) / COUNT(a.id)) desc LIMIT 10;
    </select>

    <select id="getUserCountSortBySchool" resultType="java.lang.Integer">
        SELECT (SELECT COUNT(DISTINCT count) FROM rank AS b
        WHERE school=#{school} AND b.count > a.count) + 1 AS number FROM rank as a
        WHERE type=#{type} AND userid=#{uid}
        ORDER BY number;
    </select>

    <select id="getUserCorrectSortBySchool" resultType="java.lang.Integer">
        SELECT (SELECT COUNT(DISTINCT correct) FROM rank AS b
        WHERE school=#{school} AND b.correct/b.count > a.correct/a.count) + 1 AS number FROM rank as a
        WHERE type=#{type} AND userid=#{uid}
        ORDER BY number;
    </select>

    <select id="getLastPaperId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT pid FROM paper WHERE uid=#{uid} ORDER BY gmt_create desc LIMIT 1;
    </select>

    <select id="getTopicsByPaperId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT topicId FROM topic_paper WHERE paperId=#{pid};
    </select>

    <select id="getAnswer" parameterType="java.lang.Integer" resultType="org.jplus.pojo.AnswerDO">
        SELECT tid, type, user_answer, right_or_wrong, gmt_create FROM answer WHERE id=#{id} AND tid=#{tid} ORDER BY gmt_create desc LIMIT 1;
    </select>

</mapper>
