<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jplus.mapper.TopicMapper">

    <select id="generatePaper" resultType="java.lang.Integer">
        SELECT tid FROM topic ORDER BY RAND() limit 3;
    </select>

    <insert id="insertTestPaper" parameterType="org.jplus.pojo.PaperDO">
        INSERT INTO paper VALUES (0, #{uid}, #{topic_numbers}, #{is_deleted}, #{gmt_create}, #{gmt_modified});
    </insert>

    <select id="getPaper" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT topic_numbers FROM paper WHERE pid=#{id};
    </select>

    <select id="getTopicAnswer" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT answer FROM topic WHERE tid=#{topicId};
    </select>

    <select id="getTopicType" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT type FROM topic WHERE tid=#{topicId};
    </select>

    <insert id="insertAnswer" parameterType="org.jplus.pojo.AnswerDO">
        INSERT INTO answer VALUES (0, #{id}, #{tid}, #{type}, #{user_answer}, #{right_or_wrong}, #{is_deleted}, #{gmt_create}, #{gmt_modified});
    </insert>

</mapper>
